/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: rgb(241, 178, 206);
  --accent-color: rgb(255, 0, 112);
  --header-color: rgb(0, 0, 40);
  --card-header-color: rgb(255, 0, 112);
  --button-hover-color: rgba(255, 0, 112, .4);
  --accent-color-alt: rgb(219, 0, 255);
  --background-color: rgb(0, 0, 40);
  --shadow-color: rgb(255, 0, 112);
  --main-font: 'IBM Plex mono';
  --main-text-size: 18px;
  --main-gap: 10px;
  --bg-image: url(../images/cover-image-dark.png);
  --decorative-visibility: block;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
