/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding-inline: var(--main-gap);
  font-family: var(--main-font), monospace;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before { 
  position: absolute;
  content: ''; 
  right: 0;
  top: 10px;
  inline-size: 25px; 
  block-size: 25px; 
  border-inline-end: 1px solid var(--card-header-color);
  border-block-start: 1px solid var(--card-header-color); 
} 

.decorated-zone::after {
  content: ''; 
  position: absolute;
  bottom: 10px;
  inline-size: 25px; 
  block-size: 25px; 
  border-inline-start: 1px solid var(--card-header-color);
  border-block-end: 1px solid var(--card-header-color); 
} 

.decorative-text {
  display: var(--decorative-visibility);
  position: absolute;
  top: 10px;
  right: 28px;  
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1.39;
  text-align: center;
}

.decorative-text::after {
  content: '';  
  position: absolute;
  display: inline-block;
  box-shadow: 0px 0px 4px 2px rgb(255, 0, 112);
  background-color: var(--accent-color);
  border-radius: 50%;
  inline-size: 0.5em;
  block-size: 0.5em;
  margin-block-start: 0.5em;
  margin-inline-start: 0.5em;
}

.header__theme-menu {
  margin-block-start: 65px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 10px;
}

.header__theme-menu-item {
  min-block-size: 1.6em;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: var(--card-header-color);
  border: 1px solid transparent;
  padding: 2px 13px 4px;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--card-header-color );
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom-color: var(--card-header-color);
}

.page-title {
  font-family: var(--main-font), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
  text-align: left;
  color: var(--accent-color-alt);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.title-decor {
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: 1.3;
  color: var(--header-color);
  background-color: var(--accent-color);
}

.header-text {
  align-self: center;
  max-block-size: 100%;
  margin-block-start: -10px;
}

.content-header {
  color: var(--card-header-color);
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
  block-size: 100%;
}

.card {
  display: grid;
  gap: calc(2 * var(--main-gap));
  margin-block-end: calc(5 * var(--main-gap));
} 

.text-block {
  display: grid;
  gap: var(--main-gap);
}

.card-alternative {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--main-gap)); 
  margin-block-end: calc(5 * var(--main-gap));
}

.card-text {
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  color: var(--main-text-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color)
}

.text-link:hover {
  border-bottom: solid 1px var(--main-text-color)
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.advice-header {
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  color: var(--header-color);
  background-color: var(--accent-color);
}

.gallery {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  margin-block-end: calc(4 * var(--main-gap));
}

.gallery-grid {
  display: grid;
  gap: var(--main-gap);
  align-content: space-between;
}

.gallery-image {
  inline-size: 100%; 
  block-size: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
}

.footer-heading {
  font-family: var(--main-font), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: var(--accent-color-alt);
  align-self: center;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (1000px > width > 750px) {
  .page {
    padding-inline: 20px;
  }
  .header {
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 60px;
  }
  .page-title {
    margin-inline-start: -20px;
    grid-column-start: 1;
    grid-column-end: 5; 
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header-text {
    grid-column: 3 / 5;
    margin-block-start: -20px;
  }
  .header__theme-menu {
    grid-column: 4 / 5;
    justify-self: end;
    align-self: center;
    margin-block-start: 10px
  }
  .decorative-text, .decorated-zone::before {
    top: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
  }
}

@media (width > 1000px) {
  .page {
    padding-inline: 20px;
  }
  .header {
    grid-template-columns: repeat(4, 1fr);
    margin-block-end: 60px;
  }
  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: start;
    inline-size: 100%;
    margin-block-start: 10px;
    grid-column: 1 / 5;
  }
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    inline-size: 100%;
    flex-direction: row;
  }
  .page-title {
    margin-inline-start: -20px;
    justify-self: start;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5; 
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header-text {
    grid-row: 3;
    grid-column: 3 / 5;
    margin-block-start: -20px;
  }
  .decorative-text, .decorated-zone::before {
    top: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
  }
  }

@media (1000px > width > 750px) {
  .card {
    grid-template-columns: 1fr 2fr;
    margin-block-end: calc(8 * var(--main-gap));
  }
  .content-header {
    max-width: 236px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .text-block{
    grid-column: 2 / -1;
  }
  .card-alternative  {
    display: flex;
    flex-direction: column;
    margin-block-end: calc(8 * var(--main-gap));
    gap: calc(2 * var(--main-gap));
  }
  .gallery {
    margin-block-end: calc(6 * var(--main-gap));
    gap: calc(2 * var(--main-gap));
  }
  .gallery-grid {
    inline-size: 100%;
    block-size: 100%;
    gap: calc(2 * var(--main-gap));
  }
  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .footer-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 1000px) {
  .card {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    margin-block-end: 80px;
  }
  .content-header {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-inline-size: 315px;
    max-block-size: fit-content;
  }
  .card-text {
    grid-column: span 2;
  }
  .card-header {
    grid-column: span 2;
  }
  .advice-header {
    grid-column: span 2; 
  }
  .text-block {
    grid-template-rows: min-content 1fr;
    grid-column: span 1;
  }
  .card .text-block {
    grid-column-start: 2;
  }
  .card-alternative {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    gap: calc(2 * var(--main-gap));
    margin-block-end: 80px;
  }
  .card-alternative .content-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .gallery {
    margin-block-end: calc(6 * var(--main-gap));
    gap: calc(2 * var(--main-gap));
  }
  .gallery-grid {
    inline-size: 100%;
    block-size: 100%;
    gap: calc(2 * var(--main-gap));
  }
  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .footer-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

